/* IT IS ALL ABOUT THE STYLE */
/* Base styles for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 20px;
}

/*header style*/
header {
    margin-bottom: 30px;
}

/*general button styling*/
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
}
button:hover {
    background-color: #218838;
}

/* meal image to de dispalyed styling */
img {
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Utility class to hide elements from the user */
.hidden {
    display: none;
}
/* ingredients list styling */
#ingredient-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}
/* input part styling */
input {
    padding: 10px;
    width: 60%;
    max-width: 300px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



/*makes the game feel more alive when meals appear*/
.pop {
    animation: popIn 0.5s ease;
  }
  
  @keyframes popIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  